import (
	"context"
	"fmt"
	"io"
)

type Service interface{
    Result() {{plugin_name.upper_camel_case}}Result_Result

}

type ServiceImpl struct{
    Client {{plugin_name.upper_camel_case}}ServiceClient
}

{%- for method in methods -%}
    {{ '\n' + indent(method, 1) }}

    {%- endfor %}