package {{plugin_name.lower_snake_case}}

import (
	"context"
	"fmt"
	"io"
)

type ServiceImpl struct{
    Client {{plugin_name.upper_camel_case}}ServiceClient
}

{%- for method in methods -%}

    {{ '\n' + indent(method, 1) }}

{%- endfor %}