
func(s *ServiceImpl){{ name.upper_camel_case }}({% for param in params %} {{ param.name.lower_snake_case }} {{ param.name.upper_camel_case }}{% endfor %}) (*{{ name.upper_camel_case }}Response){
    request := &{{ name.upper_camel_case }}Request{}
    ctx:= context.Background()
     {% for param in params %}
        {%- if param.type_info.is_primitive -%}
    request.{{ param.name.upper_camel_case }} = {{ param.name.lower_snake_case }}
        {%- else -%}
    request.{{param.name.upper_camel_case}} = {{params.upper_camel_case}}
        {% endif %}
    {% endfor -%}
    response, err := s.Client.{{ name.upper_camel_case }}(ctx, request)
    if err != nil {
		fmt.Printf("Unable to subscribe to position grpc %v\n", err)
	}
    {% if has_result %}
    result := response.Get{{plugin_name.upper_camel_case}}Result()
    fmt.Printf("result %v\n",  result.String())
    if result.Result != {{ plugin_name.upper_camel_case }}Result_RESULT_SUCCESS{
        fmt.Printf("Error while getting {{name.upper_camel_case}}")
    }
    {% endif %}

    {% if return_type.is_primitive -%}
    return response
    {% endif %}
}

   