{% include 'func_desc_macro.j2' %}
func(s *ServiceImpl) {{ name.upper_camel_case }}(
    ctx context.Context,
	{% include 'func_param_macro.j2' %}
) (*{{ name.upper_camel_case }}Response, error) {
    request := &{{ name.upper_camel_case }}Request{
        {% include 'object_init_macro.j2' %}
    }
    response, err := s.Client.{{ name.upper_camel_case }}(ctx, request)
    if err != nil {
        return nil, err
    }
    return response, nil
}


   